html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push-footer {
  height: 100px; /* '.push-footer' must be the same height as 'footer' */
}

footer {
  color: #fff;
  background-color: #000;
}
.white-panel {
  background-color: #fff;
}

.navbar {
  background-color: rgba(221, 72, 20, .8)
}


/*

antenna2.jpg https://www.flickr.com/photos/squeaks2569/4031665280/in/photolist-79gkCm-MXiU7-a4GSfP-arM7Z5-8zJTco-bvwrBw-8t24pv-8t24xt-8t56Cq-D2cVQ-43Fdxd-KLaSC-inpP9s-brBZGB-F7UE6-F7UDt-F7UCD-4r9ndH-5Jzbig-9iGM1c-5t4Rvf-6L8f5V-6VEn7Z-e7smL5-ap8zkU-fFFdHX-qKdfco-qaqjqF-oZNoWd-7vFeFc-ocULmw-JPGCv-43FeJE-79M6wY-c5rBuY-pu4EHs-8oHV2A-ocFBfR-nkwFzj-LMpXr-LMgbd-9iQeHn-9dsPvL-647FhP-qRUoDu-5AbpoH-kxZSW-eb1FFr-EkhdQ-ebuaAE

antenna3.jpg https://www.flickr.com/photos/mescalina/14004492040/in/photolist-ocULmw-JPGCv-43FeJE-79M6wY-c5rBuY-pu4EHs-8oHV2A-ocFBfR-nkwFzj-LMpXr-LMgbd-9iQeHn-9dsPvL-647FhP-qRUoDu-5AbpoH-kxZSW-eb1FFr-EkhdQ-ebuaAE-8tx2Tp-7bYGoK-7c3vBo-5NPoDj-7x7b24-7bYDFZ-7c3uBf-5Teo5H-nDBT3Z-5JzvTe-7N8kUB-s1GQt-43B5Mk-7N95ux-32VQ15-39S6N-ptzuSx-pwhjum-otratJ-otbvVe-otraAh-otrb7N-9YsNx5-pc6dW9-prxAvy-prxw4N-7XK9p8-ptxVB3-39S6P-c2zgM7

antenna4.jpg https://www.flickr.com/photos/ikewinski/8651298366/in/photolist-ocULmw-JPGCv-43FeJE-79M6wY-c5rBuY-pu4EHs-8oHV2A-ocFBfR-nkwFzj-LMpXr-LMgbd-9iQeHn-9dsPvL-647FhP-qRUoDu-5AbpoH-kxZSW-eb1FFr-EkhdQ-ebuaAE-8tx2Tp-7bYGoK-7c3vBo-5NPoDj-7x7b24-7bYDFZ-7c3uBf-5Teo5H-nDBT3Z-5JzvTe-7N8kUB-s1GQt-43B5Mk-7N95ux-32VQ15-39S6N-ptzuSx-pwhjum-otratJ-otbvVe-otraAh-otrb7N-9YsNx5-pc6dW9-prxAvy-prxw4N-7XK9p8-ptxVB3-39S6P-c2zgM7

antenna_sunset1.jpg https://www.flickr.com/photos/malikdhadha/5436818024/in/photolist-9hr7zN-aseWqV-agEESz-cPqM5f-2GP1wf-4QYtwV-tYo1NM-7AULga-be1P6D-dWLPcK-dSTS1X-cm3MMb-q1Re4S-mDzvuP-77M5Eh-cgcVrE-9d8tDj-nVSS2B-pWG5PH-9W9RzY-98fix5-dcD9Lk-fs6G3R-2ydiu-5bju6d-9o74v4-d2Zhcy-92oAd4-qgAkmd-6zPaB7-bnaFxM-m8AQva-dCkNBo-9dy4WM-9ZM2ih-tG5FnD-nj93bu-6ri61q-8xdGQ5-ayXb9F-pyaZJp-4Ngq4V-nj8VgD-6jsEvs-6nFKxk-cqTv5f-dqGqT2-nyzVef-fTset5-KLaSC

antenna_sunset2.jpg https://www.flickr.com/photos/80225884@N06/15380757712/in/photolist-pr9ppN-pu5SQe-oP4u6K-sb3ug6-oUhbkK-9hr7zN-aseWqV-agEESz-cPqM5f-2GP1wf-4QYtwV-tYo1NM-7AULga-be1P6D-dWLPcK-dSTS1X-cm3MMb-q1Re4S-mDzvuP-77M5Eh-cgcVrE-9d8tDj-nVSS2B-pWG5PH-9W9RzY-98fix5-dcD9Lk-fs6G3R-2ydiu-5bju6d-9o74v4-d2Zhcy-92oAd4-qgAkmd-6zPaB7-bnaFxM-m8AQva-dCkNBo-9dy4WM-9ZM2ih-tG5FnD-nj93bu-6ri61q-8xdGQ5-ayXb9F-pyaZJp-4Ngq4V-nj8VgD-6jsEvs-6nFKxk

antenna_sunset3.jpg https://www.flickr.com/photos/soundman1024/3169175330/in/photolist-5Q3RpY-acavv8-dDHrKH-h9uKe-6NTCcT-9BzFtL-ecToXR-8dhhUU-oPZCZA-KdUwg-8cZtw9-8Lab6-a4zoT7-fkxqh-5W39ee-9vmjSj-cMdsw9-rD8AFg-dfLdZx-dfLgYh-9ZJaGM-9ZM2M3-43Fdxd-F94kt-tE7YjS-9dsPvL-5SPyB4-9K8MUA-9ZJaep-92Yjfw-6ebEbF-43B5Mk-bic5Bp-2jZMhT-7JsrvP-8bGXYJ-m8zsP6-bxeC8-cN5ng-78iQqN-92YjvW-cnEBR-36AoDw-sbpj2D-6i5n6o-4gGBoL-9VRRZJ-47WKqC-4k6gVT-ar1tA

antenna_sunset4.jpg https://www.flickr.com/photos/jeepersmedia/13988750540/in/photolist-nj91b9-5n6Rts-Dd5V3-5oZqw3-42Akb-biWMWe-s5CPy-5Q3RpY-acavv8-dDHrKH-h9uKe-6NTCcT-9BzFtL-ecToXR-8dhhUU-oPZCZA-KdUwg-8cZtw9-8Lab6-a4zoT7-fkxqh-5W39ee-9vmjSj-cMdsw9-rD8AFg-dfLdZx-dfLgYh-9ZJaGM-9ZM2M3-43Fdxd-F94kt-tE7YjS-9dsPvL-5SPyB4-9K8MUA-9ZJaep-92Yjfw-6ebEbF-43B5Mk-bic5Bp-2jZMhT-7JsrvP-8bGXYJ-m8zsP6-bxeC8-cN5ng-78iQqN-92YjvW-cnEBR-36AoDw

antenna_sunset5.jpg https://www.flickr.com/photos/120610482@N04/13213145013/in/photolist-F94kt-tE7YjS-9dsPvL-5SPyB4-9K8MUA-9ZJaep-92Yjfw-6ebEbF-43B5Mk-bic5Bp-2jZMhT-7JsrvP-8bGXYJ-m8zsP6-bxeC8-cN5ng-78iQqN-92YjvW-cnEBR-36AoDw-sbpj2D-6i5n6o-4gGBoL-9VRRZJ-47WKqC-4k6gVT-ar1tA-5oPNbu-9ZM22E-5oGqYF-PbRmf-gfcSoz-4eQCNf-cobsWh-6i1dnV-ftHu7-6i1hCP-p4mHcb-43FeJE-5qAfD5-5qvV7i-5qAfnh-trC4i-8KUMLy-47SGHX-3RdbPW-5ZxBER-hiDUCL-dGHDew-m8APF4

antenna_sunset6.jpg https://www.flickr.com/photos/daquellamanera/2883715600/in/photolist-F94kt-tE7YjS-9dsPvL-5SPyB4-9K8MUA-9ZJaep-92Yjfw-6ebEbF-43B5Mk-bic5Bp-2jZMhT-7JsrvP-8bGXYJ-m8zsP6-bxeC8-cN5ng-78iQqN-92YjvW-cnEBR-36AoDw-sbpj2D-6i5n6o-4gGBoL-9VRRZJ-47WKqC-4k6gVT-ar1tA-5oPNbu-9ZM22E-5oGqYF-PbRmf-gfcSoz-4eQCNf-cobsWh-6i1dnV-ftHu7-6i1hCP-p4mHcb-43FeJE-5qAfD5-5qvV7i-5qAfnh-trC4i-8KUMLy-47SGHX-3RdbPW-5ZxBER-hiDUCL-dGHDew-m8APF4


antenna_sunset7.jpg https://www.flickr.com/photos/8058853@N06/8452224983/in/photolist-dSTS1X-8j3nL9-qJkkzf-9aqbhW-9aqbz9-cAvoK1-fQJxj-5W38et-bQnWqP-6aaPCU

*/

.jumbotron {
  background-image: url(/img/backgrounds/antenna_sunset5.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 110px;
}

.jumbotron .hero-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron .hero-text {
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

.jumbotron h1 {
  line-height: 50px;
}

.secondary-jumbotron {
  background-image: url(/img/backgrounds/antenna_sunset7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 40px;
}

.secondary-jumbotron .hero-text {
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

.app-jumbotron {
  background-image: url(/img/backgrounds/antenna_sunset3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 40px;
}

.app-jumbotron .hero-text {
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

.oneget-jumbotron {
  background-image: url(/img/backgrounds/antenna_sunset4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 40px;
}

.oneget-jumbotron .hero-text {
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

.about-jumbotron {
  background-image: url(/img/backgrounds/antenna_sunset6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 40px;
}

.about-jumbotron .hero-text {
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

span.step {
  background: #ccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

article.app-list {
  border-top: 1px solid #ccc;
  margin: 20px 0 20px 0;
  padding-top: 10px;
}

.app-list-icon {
  margin-top: 20px;
  /*float: left;
  width: 70px;*/
}

/*.app-list-body {
  margin-left: 70px;
}*/

.no-break {
  white-space: nowrap;
}

.app-list-body > footer {
  color: inherit;
  /*padding-top: 15px;*/
  /*background-color: #ccc;*/
}

.app-list-meta {
  padding-top: 20px;
}

section.downloads {
  display: inline;
  font-size: 1.25em;
  font-weight: bold;
}

section.tags {
  display: inline;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
}

section.tags > p {
  display: inline;
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 5px;
}

section.mtags > ul {
  list-style: none;
  margin: 10px 0 0 5px;
  padding: 0px;
}

section.mtags > ul > li {
  display: inline;
  padding-left: 5px;
  line-height: 25px;
  white-space: nowrap;
}

a.inline {
  margin-left: 5px;
  white-space: nowrap;
}
ul.inline {
  list-style: none;
  margin: 10px 0 0 5px;
  padding: 0px;
}

ul.inline > li {
  display: inline;
  padding-left: 5px;
  line-height: 25px;
  white-space: nowrap;
}


section.tags > ul {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

section.tags > ul > li {
  display: inline;
}

.cmd {
  background-color: #202020;
  border: 4px solid silver;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #6e6e6e;
  color: #e2e2e2;
  display: block;
  font: 1.5em 'andale mono', 'lucida console', monospace;
  line-height: 1.5em;
  overflow: auto;
  padding: 15px;
  margin: 15px 10px 15px 0;
}

.cmd-sm {
  background-color: #202020;
  /*background-color: #000080;*/
  border: 2px solid silver;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #6e6e6e;
  color: #e2e2e2;
  /*display: block;*/
  /*font: 1.5em 'andale mono', 'lucida console', monospace;*/
  font: 'andale mono', 'lucida console', monospace;
  overflow: auto;
  padding: 7px 10px;
  /*margin: 5px 5px 5px 0;*/
}

.app-meta {
  margin-top: 20px;
}

.app-meta-data {
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.app-meta-label {
  font-size: 1.25em;
  line-height: 1em;
}

.app-meta ul {
  list-style: none;
  padding: 0;
}

.app-meta li {
  padding-top: 5px;
}

.input-group-lg > .input-group-addon-adjust-mega {
  padding: 8px 12px;
}

.cmd-line {
  margin: 20px 0;
}

.download-button {
  display: inline;
}

.fineprint {
  font-size: .85em;
  padding: 10px 10px 10px 0;
  overflow: hidden;
}

input.form-control,input.form-control:focus {
    outline:none;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   transition: none;
   -moz-transition: none;
   -webkit-transition: none;
}

[data-href] {
  cursor: pointer;
}

.history-title {
  padding-right: 5px;
  display: inline-block;
}

.collapse-toggle {
  cursor: pointer;
}

.collapse-toggle .icon-collapse-open,
.collapse-toggle.collapsed .icon-collapse-close {
    display: inline-block;
}

.collapse-toggle.collapsed .icon-collapse-open,
.collapse-toggle .icon-collapse-close {
    display: none;
}

.tag-body {
  margin-bottom: 50px;
}