@{
    ViewBag.CurrentPage = "about";
    ViewBag.Title = "More Information About AppSyndication";
}
<div class="about-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <h1 class="hero-text">@ViewBag.Title</h1>
      </div>
    </div>
  </div>
</div>


<div class="white-panel">
  <div class="container">
    <div class="row">
      <article id="get-started" class="col-sm-6 col-xs-12">
        <h3>More Information goes here</h3>
        <p>Something needs to be put here.</p>
      </article>

      <div class="col-sm-6 col-xs-12">
        <h3>Additional details over here</h3>
        <p>Need to write more text here.</p>
      </div>
    </div>
  </div>
</div>