<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>

  <rewrite>
    <rules>
      <rule name="Reverse proxy Account Service" stopProcessing="true">
        <match url="^account/?(.*)" />
        <action type="Rewrite" url="https://as-ac.azurewebsites.net/account/{R:1}" />
      </rule>
      <rule name="Reverse proxy Download Service" stopProcessing="true">
        <match url="^download/?(.*)" />
        <action type="Rewrite" url="https://as-dn.azurewebsites.net/download/{R:1}" />
      </rule>
      <rule name="Reverse proxy Single Sign On Service" stopProcessing="true">
        <match url="^sso/?(.*)" />
        <action type="Rewrite" url="https://as-id.azurewebsites.net/sso/{R:1}" />
      </rule>
      <rule name="Reverse proxy Upload Service" stopProcessing="true">
        <match url="^upload/?(.*)" />
        <action type="Rewrite" url="https://as-up.azurewebsites.net/upload/{R:1}" />
      </rule>
    </rules>
  </rewrite>
</configuration>
